body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 20px;
}

h2 {
    padding-left: 10px;
}

.add-article {
    padding: 10px;
}

button {
    margin-left: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

input[type=text] {
    width: 300px;
    height: 16px;
    padding: 4px;
    margin: 8px 0;
}

input[type=text] {
    border: 2px solid grey;
    border-radius: 4px;
}

input[type=text]:hover {
    border: 2px solid darkgrey;
    border-radius: 4px;
}